In [2]:
s=['Congrats. You have won a lottery of 1 million and you can get the lottery money by calling the lottery number',
  'Give your bank details to get your lottery amount in your bank account',
  'lottery for sure if your bank details are verIfied']

In [7]:
s[2]

'lottery for sure if your bank details are verIfied'

In [11]:
s[2].split()

['lottery', 'for', 'sure', 'if', 'your', 'bank', 'details', 'are', 'verIfied']

In [12]:
#BOW
from sklearn.feature_extraction.text import CountVectorizer

In [13]:
vect=CountVectorizer(stop_words='english')

In [14]:
op=vect.fit_transform(s).toarray()
op

array([[0, 0, 1, 1, 0, 3, 1, 1, 1, 0, 0, 1],
       [1, 2, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0]], dtype=int64)

In [16]:
import pandas as pd
df=pd.DataFrame(op,columns=vect.get_feature_names())
df

,account,bank,calling,congrats,details,lottery,million,money,number,sure,verified,won
0,0,0,1,1,0,3,1,1,1,0,0,1
1,1,2,0,0,1,1,0,0,0,0,0,0
2,0,1,0,0,1,1,0,0,0,1,1,0

In [17]:
import pandas as pd
df=pd.read_table("https://raw.githubusercontent.com/arib168/data/main/spam.tsv")
df

     label                                            message  length  punct
0      ham  Go until jurong point, crazy.. Available only ...     111      9
1      ham                      Ok lar... Joking wif u oni...      29      6
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3      ham  U dun say so early hor... U c already then say...      49      6
4      ham  Nah I don't think he goes to usf, he lives aro...      61      2
...    ...                                                ...     ...    ...
5567  spam  This is the 2nd time we have tried 2 contact u...     160      8
5568   ham               Will ü b going to esplanade fr home?      36      1
5569   ham  Pity, * was in mood for that. So...any other s...      57      7
5570   ham  The guy did some bitching but I acted like i'd...     125      1
5571   ham                         Rofl. Its true to its name      26      1

[5572 rows x 4 columns]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   label    5572 non-null   object
 1   message  5572 non-null   object
 2   length   5572 non-null   int64
 3   punct    5572 non-null   int64
dtypes: int64(2), object(2)
memory usage: 174.2+ KB

In [19]:
df.duplicated().sum()

403

In [20]:
df.drop_duplicates(inplace=True)

In [21]:
df.duplicated().sum()

0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5169 entries, 0 to 5571
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   label    5169 non-null   object
 1   message  5169 non-null   object
 2   length   5169 non-null   int64
 3   punct    5169 non-null   int64
dtypes: int64(2), object(2)
memory usage: 201.9+ KB

In [23]:
df['label'].value_counts()

ham     4516
spam     653
Name: label, dtype: int64

In [24]:
df['message'][2]

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

In [25]:
df['label'][2]

'spam'

In [26]:
df['message'][1245]

"Now? I'm going out 4 dinner soon.."

In [28]:
df['label'][1245]

'ham'

In [29]:
x=df['message'].values
y=df['label'].values

In [30]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [31]:
x_train.shape

(3876,)

In [32]:
vect=CountVectorizer(stop_words='english')
x_train_vect=vect.fit_transform(x_train)
x_test_vect=vect.transform(x_test)

In [33]:
from sklearn.svm import SVC
svc=SVC()
svc.fit(x_train_vect,y_train)

SVC()

In [34]:
y_pred=svc.predict(x_test_vect)
y_pred

array(['ham', 'ham', 'ham', ..., 'ham', 'spam', 'spam'], dtype=object)

In [35]:
y_test

array(['ham', 'ham', 'ham', ..., 'ham', 'spam', 'spam'], dtype=object)

In [36]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

0.9767981438515081

In [39]:
from sklearn.naive_bayes import MultinomialNB
nb=MultinomialNB()
nb.fit(x_train_vect,y_train)
y_pred_nb=nb.predict(x_test_vect)
accuracy_score(y_pred_nb,y_test)

0.9837587006960556