In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("IMDB Dataset.csv")
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [4]:
df['review'][3].lower()

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.<br /><br />ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

In [7]:
df['review']=df['review'].str.lower()

In [8]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. <br /><br />the...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [9]:
import re

def remove_html_tags(text):
    pattern=re.compile('<.*?>')
    return pattern.sub(r'',text)

In [14]:
text="<html><body><p>Movie 1 </p><p>Actor - Aamir Khan </p><p>Click here to <a href='http://google.com'>download</a></p></body></html>"

In [15]:
remove_html_tags(text)

'Movie 1 Actor - Aamir Khan Click here to download'

In [17]:
df['review']=df['review'].apply(remove_html_tags)

In [18]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [19]:
df['review'][3]

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

In [27]:
text1="Check out my notebook https://www.kaggle.com/code/azibhasan/notebook35643d8a86/edit"
text2="Check out my notebook http://www.kaggle.com/code/azibhasan/notebook35643d8a85"
text3="Google search here www.google.com/"
text4="For notebook click https://www.kaggle.com/code/azibhasan/notebook35643d8a86/edit to search check www.google.com/"

In [22]:
text4

'For notebook click https://www.kaggle.com/code/azibhasan/notebook35643d8a86/edit to search check https://www.google.com/'

In [23]:
def remove_url(text):
    pattern=re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'',text)

In [24]:
remove_url(text1)

'Check out my notebook '

In [25]:
remove_url(text2)

'Check out my notebook '

In [26]:
remove_url(text3)

'Google search here '

In [28]:
remove_url(text4)

'For notebook click  to search check '

In [31]:
text1="Check out my notebook https://testing.com"

In [32]:
remove_url(text1)

'Check out my notebook '

In [33]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [34]:
exclude=string.punctuation

In [35]:
def remove_punc(text):
    for i in exclude:
        text=text.replace(i,'')
    return text

In [36]:
text="string. With, Punctuation?"

In [37]:
remove_punc(text)

'string With Punctuation'

In [41]:
import time
start=time.time()
print(remove_punc(text))
time1=time.time()-start
print(time1*50000)

string With Punctuation
50.02021789550781

In [42]:
def remove_punc1(text):
    return text.translate(str.maketrans('','',exclude))

In [43]:
remove_punc1(text)

'string With Punctuation'

In [48]:
start=time.time()
remove_punc1(text)
time2=time.time()-start
print(time2*50000)

0.0

In [49]:
time1/time2

ZeroDivisionError: float division by zero

In [50]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [51]:
df['review'].apply(remove_punc1)

0        one of the other reviewers has mentioned that ...
1        a wonderful little production the filming tech...
2        i thought this was a wonderful way to spend ti...
3        basically theres a family where a little boy j...
4        petter matteis love in the time of money is a ...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot bad dialogue bad acting idiotic direc...
49997    i am a catholic taught in parochial elementary...
49998    im going to have to disagree with the previous...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object

In [52]:
#https://github.com/rishabhverma17/sms_slang_translator/blob/master/slang.txt
# chat_words={"AFAIK":"As Far As I Know"
# "AFK":"Away From Keyboard"
# ASAP:As Soon As Possible
# ATK:At The Keyboard
# ATM:At The Moment
# A3:Anytime, Anywhere, Anyplace
# BAK:Back At Keyboard
# BBL:Be Back Later
# BBS:Be Back Soon
# BFN:Bye For Now
# B4N:Bye For Now
# BRB:Be Right Back
# BRT:Be Right There
# BTW:By The Way
# B4:Before
# B4N:Bye For Now
# CU:See You
# CUL8R:See You Later
# CYA:See You
# FAQ:Frequently Asked Questions
# FC:Fingers Crossed
# FWIW:For What It's Worth
# FYI:For Your Information
# GAL:Get A Life
# GG:Good Game
# GN:Good Night
# GMTA:Great Minds Think Alike
# GR8:Great!
# G9:Genius
# IC:I See
# ICQ:I Seek you (also a chat program)
# ILU:ILU: I Love You
# IMHO:In My Honest/Humble Opinion
# IMO:In My Opinion
# IOW:In Other Words
# IRL:In Real Life
# KISS:Keep It Simple, Stupid
# LDR:Long Distance Relationship
# LMAO:Laugh My A.. Off
# LOL:Laughing Out Loud
# LTNS:Long Time No See
# L8R:Later
# MTE:My Thoughts Exactly
# M8:Mate
# NRN:No Reply Necessary
# OIC:Oh I See
# PITA:Pain In The A..
# PRT:Party
# PRW:Parents Are Watching
# QPSA? Que Pasa?
# ROFL:Rolling On The Floor Laughing
# ROFLOL:Rolling On The Floor Laughing Out Loud
# ROTFLMAO:Rolling On The Floor Laughing My A.. Off
# SK8:Skate
# STATS:Your sex and age
# ASL:Age, Sex, Location
# THX:Thank You
# TTFN:Ta-Ta For Now!
# TTYL:Talk To You Later
# U:You
# U2:You Too
# U4E:Yours For Ever
# WB:Welcome Back
# WTF:What The F...
# WTG:Way To Go!
# WUF:Where Are You From?
# W8:Wait...
# 7K:Sick:-D Laugher
# }

In [55]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
     -------------------------------------- 636.8/636.8 KB 8.0 MB/s eta 0:00:00
Requirement already satisfied: nltk>=3.1 in c:\users\ameen\anaconda3\lib\site-packages (from textblob) (3.6.1)
Requirement already satisfied: click in c:\users\ameen\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied: regex in c:\users\ameen\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2021.4.4)
Requirement already satisfied: tqdm in c:\users\ameen\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.59.0)
Requirement already satisfied: joblib in c:\users\ameen\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.0.1)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'c:\users\ameen\anaconda3\python.exe -m pip install --upgrade pip' command.

In [56]:
from textblob import TextBlob

In [53]:
incorrect_text="ccertain conditionas duriing seveal gennerations aree moddified in the saame maner"

In [57]:
textblb=TextBlob(incorrect_text)

In [58]:
textblb.correct().string

'certain conditions during several generations are modified in the same manner'

In [64]:
import nltk
from nltk.corpus import stopwords

In [65]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ameen\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [70]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [71]:
def remove_stopwords(text):
    new_text=[]
    
    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
    x=new_text[:]
    new_text.clear()
    return " ".join(x)

In [72]:
remove_stopwords("Considered as one of the most successful superhero movies ever made, 'Spider-Man' is a superhero film adaptation of one of Stan Lee's most popular Marvel comics, and becoming one of the first movies to score the highest opening weekend in the box office. There's no wonder, because this is an exciting and enjoyable motion picture. One of my childhood favorites, to be exact! This movie tells the origin story of Peter Parker, or Spider-Man, portrayed by Tobey Maguire, whom after being bit by a radioactive spider, he has gained extraordinary powers to climb walls, shoot web, and beat bad guys.")

"Considered  one    successful superhero movies ever made, 'Spider-Man'   superhero film adaptation  one  Stan Lee's  popular Marvel comics,  becoming one   first movies  score  highest opening weekend   box office. There's  wonder,     exciting  enjoyable motion picture. One   childhood favorites,   exact! This movie tells  origin story  Peter Parker,  Spider-Man, portrayed  Tobey Maguire,    bit   radioactive spider,   gained extraordinary powers  climb walls, shoot web,  beat bad guys."

In [74]:
import re
def remove_emojis(data):
    emoj = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # chinese char
        u"\U00002702-\U000027B0"
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642" 
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  # dingbats
        u"\u3030"
                      "]+", re.UNICODE)
    return re.sub(emoj, '', data)

In [77]:
remove_emoji("😱 I am shocked")

' I am shocked'

In [79]:
!pip install emoji

Collecting emoji
  Downloading emoji-1.7.0.tar.gz (175 kB)
     ------------------------------------- 175.4/175.4 KB 10.3 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: emoji
  Building wheel for emoji (setup.py): started
  Building wheel for emoji (setup.py): finished with status 'done'
  Created wheel for emoji: filename=emoji-1.7.0-py3-none-any.whl size=171030 sha256=20709e025d5bbe3efca1d7c3376e15fb534b1222c9535b94bd04b59c81dd1c73
  Stored in directory: c:\users\ameen\appdata\local\pip\cache\wheels\5e\8c\80\c3646df8201ba6f5070297fe3779a4b70265d0bfd961c15302
Successfully built emoji
Installing collected packages: emoji
Successfully installed emoji-1.7.0

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'c:\users\ameen\anaconda3\python.exe -m pip install --upgrade pip' command.

In [80]:
import emoji

In [81]:
print(emoji.demojize("This is😱"))

This is:face_screaming_in_fear:

In [82]:
print(emoji.demojize("This is😂"))

This is:face_with_tears_of_joy: