In [1]:
import pandas as pd
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('income.csv')
df.head()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income_level
0,39,77516,13,2174,0,40,0
1,50,83311,13,0,0,13,0
2,38,215646,9,0,0,40,0
3,53,234721,7,0,0,40,0
4,28,338409,13,0,0,40,0

In [3]:
X=df.iloc[:,0:6]
y=df.iloc[:,6]

In [4]:
df.shape

(48842, 7)

In [5]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [6]:
X_train.shape

(39073, 6)

In [7]:
X_test.shape

(9769, 6)

In [15]:
AdaModel=AdaBoostClassifier(n_estimators=250,learning_rate=1)

In [16]:
model=AdaModel.fit(X_train,y_train)
y_pred=model.predict(X_test)

In [17]:
print("Accuracy",metrics.accuracy_score(y_test,y_pred))

Accuracy 0.8443034087419388

In [21]:
from sklearn.linear_model import LogisticRegression
logregmodel=LogisticRegression()
adabc=AdaBoostClassifier(n_estimators=250,base_estimator=logregmodel,learning_rate=1)

In [22]:
model=adabc.fit(X_train,y_train)
y_pred=model.predict(X_test)
print("Accuracy",metrics.accuracy_score(y_test,y_pred))

Accuracy 0.8003889855665882