In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv("Salary_Data.csv")
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [5]:
df.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [34]:
x=df.iloc[:,[0]].values #x=df.iloc[:,0:1].values
y=df.iloc[:,1].values

#sklearn algorithms requires x values to be in 2D array and y values to be in 1D array

In [35]:
x

array([[ 1.1],
       [ 1.3],
       [ 1.5],
       [ 2. ],
       [ 2.2],
       [ 2.9],
       [ 3. ],
       [ 3.2],
       [ 3.2],
       [ 3.7],
       [ 3.9],
       [ 4. ],
       [ 4. ],
       [ 4.1],
       [ 4.5],
       [ 4.9],
       [ 5.1],
       [ 5.3],
       [ 5.9],
       [ 6. ],
       [ 6.8],
       [ 7.1],
       [ 7.9],
       [ 8.2],
       [ 8.7],
       [ 9. ],
       [ 9.5],
       [ 9.6],
       [10.3],
       [10.5]])

In [39]:
#Import the algorithm, save it and then fit the model
from sklearn.linear_model import LinearRegression
# from sklearn import linear_model.LinearRegression
# import sklearn.linear_model.LinearRegression
model=LinearRegression()
model.fit(x,y)

LinearRegression()