In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#https://www.kaggle.com/datasets/anthonypino/melbourne-housing-market?select=Melbourne_housing_FULL.csv
df=pd.read_csv("Melbourne_housing_FULL.csv")
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [3]:
df.shape

(34857, 21)

In [4]:
df.sample(5)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
9121,South Melbourne,18 Cobden St,2,h,920500.0,S,Greg,3/12/2016,2.1,3205.0,...,1.0,0.0,114.0,NaN,NaN,Port Phillip City Council,-37.83440,144.9686,Southern Metropolitan,5943.0
12315,Brighton,81 Carpenter St,4,t,2900000.0,VB,Kay,8/04/2017,11.2,3186.0,...,4.0,2.0,473.0,292.0,2013.0,Bayside City Council,-37.91040,144.9999,Southern Metropolitan,10579.0
25157,Kensington,36 Ormond St,4,h,2500000.0,S,Rendina,21/10/2017,3.4,3031.0,...,2.0,1.0,277.0,NaN,NaN,Melbourne City Council,-37.79695,144.9297,Northern Metropolitan,5263.0
5796,Kensington,114/71 Henry St,1,u,365000.0,VB,Edward,10/12/2016,4.2,3031.0,...,1.0,1.0,0.0,47.0,2012.0,Melbourne City Council,-37.79610,144.9261,Northern Metropolitan,5263.0
5208,Hawthorn,11/284 Barkers Rd,2,u,NaN,S,Kay,7/05/2016,4.6,3122.0,...,1.0,1.0,0.0,NaN,NaN,Boroondara City Council,-37.81560,145.0405,Southern Metropolitan,11308.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [6]:
df.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [7]:
#separate the numerical and non-numerical column names
df.dtypes # this prints a series depicting the datatypes of each column

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [8]:
df.dtypes[df.dtypes=='object']

Suburb         object
Address        object
Type           object
Method         object
SellerG        object
Date           object
CouncilArea    object
Regionname     object
dtype: object

In [9]:
df.dtypes[df.dtypes!='object']

Rooms              int64
Price            float64
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
Lattitude        float64
Longtitude       float64
Propertycount    float64
dtype: object

In [10]:
df.dtypes[df.dtypes!='object'].index

Index(['Rooms', 'Price', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude', 'Longtitude',
       'Propertycount'],
      dtype='object')

In [11]:
num_col=df.dtypes[df.dtypes!='object'].index.values
num_col

array(['Rooms', 'Price', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude',
       'Longtitude', 'Propertycount'], dtype=object)

In [12]:
cat_col=df.dtypes[df.dtypes=='object'].index.values
cat_col

array(['Suburb', 'Address', 'Type', 'Method', 'SellerG', 'Date',
       'CouncilArea', 'Regionname'], dtype=object)

In [13]:
#Curse of dimensionality
#Only the best features needs to be selected

In [14]:
df.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [15]:
#We will remove the categorical columns which have more than 30 unique values

In [16]:
for col in cat_col:
    if (df[col].nunique()>30):
        df=df.drop(col,axis=1)

In [17]:
df.shape

(34857, 16)

In [18]:
df.sample(5)

,Rooms,Type,Price,Method,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Regionname,Propertycount
23776,3,h,1100000.0,S,16.7,3150.0,3.0,1.0,5.0,740.0,106.0,1960.0,-37.89698,145.14398,Eastern Metropolitan,15321.0
25578,2,u,505000.0,SP,11.4,3204.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Southern Metropolitan,6795.0
15238,4,h,NaN,SN,12.0,3073.0,4.0,1.0,2.0,725.0,NaN,NaN,-37.71779,144.98829,Northern Metropolitan,21650.0
27786,3,h,700000.0,PI,38.0,3199.0,3.0,2.0,2.0,594.0,3.0,NaN,-38.14450,145.12940,South-Eastern Metropolitan,17055.0
31933,3,h,2320000.0,S,10.2,3127.0,3.0,3.0,0.0,1126.0,240.0,1880.0,-37.81631,145.10313,Eastern Metropolitan,2079.0

In [19]:
df[['Rooms','Bedroom2']]

       Rooms  Bedroom2
0          2       2.0
1          2       2.0
2          2       2.0
3          3       3.0
4          3       3.0
...      ...       ...
34852      4       4.0
34853      2       2.0
34854      2       2.0
34855      3       NaN
34856      2       2.0

[34857 rows x 2 columns]

In [20]:
df=df.drop(columns=['Bedroom2','Postcode','Lattitude','Longtitude'])
df.shape

(34857, 12)

In [21]:
df.sample(10)

,Rooms,Type,Price,Method,Distance,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Regionname,Propertycount
23449,2,t,457500.0,S,14.0,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,14042.0
76,5,h,1035000.0,S,13.5,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
9128,3,h,2633000.0,S,2.1,1.0,0.0,276.0,119.0,1900.0,Southern Metropolitan,5943.0
246,2,u,425000.0,S,13.8,1.0,2.0,115.0,57.0,1980.0,Western Metropolitan,5301.0
20837,3,h,388000.0,S,31.7,1.0,0.0,650.0,114.0,NaN,Western Metropolitan,14092.0
31631,3,h,1000000.0,PI,6.7,1.0,2.0,459.0,NaN,NaN,Northern Metropolitan,11204.0
740,4,h,NaN,SP,12.2,2.0,2.0,780.0,155.0,1950.0,Southern Metropolitan,2894.0
28053,2,h,950000.0,PI,11.4,NaN,NaN,NaN,NaN,NaN,Southern Metropolitan,3578.0
5880,5,h,NaN,SN,5.6,NaN,NaN,NaN,NaN,NaN,Southern Metropolitan,10331.0
26287,4,t,NaN,VB,11.4,3.0,1.0,NaN,NaN,NaN,Southern Metropolitan,3578.0

In [22]:
df['Landsize']=df['Landsize'].fillna(df['Landsize'].mean())
df['BuildingArea']=df['BuildingArea'].fillna(df['BuildingArea'].mean())

In [23]:
df.isnull().sum()

Rooms                0
Type                 0
Price             7610
Method               0
Distance             1
Bathroom          8226
Car               8728
Landsize             0
BuildingArea         0
YearBuilt        19306
Regionname           3
Propertycount        3
dtype: int64

In [24]:
df['BuildingArea'].mode().values[0]

160.2564003565711

In [25]:
df['Regionname'].mode().values[0]

'Southern Metropolitan'

In [26]:
df['Bathroom']=df['Bathroom'].fillna(df['Bathroom'].mode().values[0])
df['Car']=df['Car'].fillna(df['Car'].mode().values[0])
df['Propertycount']=df['Propertycount'].fillna(df['Propertycount'].mode().values[0])
df['Regionname']=df['Regionname'].fillna(df['Regionname'].mode().values[0])
df['Distance']=df['Distance'].fillna(df['Distance'].mode().values[0])

In [27]:
df.isnull().sum()

Rooms                0
Type                 0
Price             7610
Method               0
Distance             0
Bathroom             0
Car                  0
Landsize             0
BuildingArea         0
YearBuilt        19306
Regionname           0
Propertycount        0
dtype: int64

In [28]:
df['YearBuilt']

0           NaN
1           NaN
2        1900.0
3           NaN
4        1900.0
          ...
34852       NaN
34853    2018.0
34854    2000.0
34855       NaN
34856    1930.0
Name: YearBuilt, Length: 34857, dtype: float64

In [29]:
df['YearBuilt']=2021-df['YearBuilt']

In [30]:
df['YearBuilt']=df['YearBuilt'].fillna(df['YearBuilt'].mode().values[0])

In [31]:
df['Price']=df['Price'].fillna(df['Price'].mean())

In [32]:
df.isnull().sum()

Rooms            0
Type             0
Price            0
Method           0
Distance         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
Regionname       0
Propertycount    0
dtype: int64

In [33]:
df.head(2)

,Rooms,Type,Price,Method,Distance,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Regionname,Propertycount
0,2,h,1.050173e+06,SS,2.5,1.0,1.0,126.0,160.2564,51.0,Northern Metropolitan,4019.0
1,2,h,1.480000e+06,S,2.5,1.0,1.0,202.0,160.2564,51.0,Northern Metropolitan,4019.0

In [34]:
df2=df.copy().select_dtypes(exclude='object')
df2.head(3)

,Rooms,Price,Distance,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Propertycount
0,2,1.050173e+06,2.5,1.0,1.0,126.0,160.2564,51.0,4019.0
1,2,1.480000e+06,2.5,1.0,1.0,202.0,160.2564,51.0,4019.0
2,2,1.035000e+06,2.5,1.0,0.0,156.0,79.0000,121.0,4019.0

In [35]:
x=df2.drop('Price',axis=1).values
y=df2['Price'].values

In [36]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [37]:
x.shape

(34857, 8)

In [38]:
x_train.shape

(26142, 8)

In [39]:
x_test.shape

(8715, 8)

In [40]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [41]:
y_pred=model.predict(x_test)
y_pred

array([ 861876.4003748 ,  434270.62870966,  935684.02800715, ...,
       1303958.21865704, 1051899.70926514,  708980.16378093])

In [42]:
y_test

array([ 857000.        , 1050173.34495541, 1000000.        , ...,
       1518000.        ,  760000.        ,  455000.        ])

In [43]:
from sklearn.metrics import r2_score
print("R2_score",r2_score(y_test,y_pred))

R2_score 0.22017037304473386

In [44]:
x_train[0]

array([1.000e+00, 4.300e+00, 1.000e+00, 1.000e+00, 8.870e+02, 4.500e+01,
       4.900e+01, 4.918e+03])

In [45]:
model.predict([[1, 4.300e+00, 1.000e+00, 1.000e+00, 8.870e+02, 4.500e+01,
       4.900e+01, 4.918e+03]])

array([647404.30795727])

In [46]:
a=np.array([1,2,3,4,5])
a.ndim

1

In [48]:
# Encoding - to convert values from object datatype to numerical datatype
# Input
# Output

# For output value being non-numeric, we use Label Encoder
# For input value being non-numeric, there could be two types of data
# 1. Ordinal
# 2. Nominal
# For ordinal values, we use ordinal encoding, which will give each category the numerical predence based on the value it deserves
# For nominal values, we use one hot encoding(OHE)
#OHE explained below

In [52]:
df

,Rooms,Type,Price,Method,Distance,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Regionname,Propertycount
0,2,h,1.050173e+06,SS,2.5,1.0,1.0,126.000000,160.2564,51.0,Northern Metropolitan,4019.0
1,2,h,1.480000e+06,S,2.5,1.0,1.0,202.000000,160.2564,51.0,Northern Metropolitan,4019.0
2,2,h,1.035000e+06,S,2.5,1.0,0.0,156.000000,79.0000,121.0,Northern Metropolitan,4019.0
3,3,u,1.050173e+06,VB,2.5,2.0,1.0,0.000000,160.2564,51.0,Northern Metropolitan,4019.0
4,3,h,1.465000e+06,SP,2.5,2.0,0.0,134.000000,150.0000,121.0,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...
34852,4,h,1.480000e+06,PI,6.3,1.0,3.0,593.000000,160.2564,51.0,Western Metropolitan,6543.0
34853,2,h,8.880000e+05,SP,6.3,2.0,1.0,98.000000,104.0000,3.0,Western Metropolitan,6543.0
34854,2,t,7.050000e+05,S,6.3,1.0,2.0,220.000000,120.0000,21.0,Western Metropolitan,6543.0
34855,3,h,1.140000e+06,SP,6.3,1.0,2.0,593.598993,160.2564,51.0,Western Metropolitan,6543.0
34856,2,h,1.020000e+06,PI,6.3,1.0,0.0,250.000000,103.0000,91.0,Western Metropolitan,6543.0

In [55]:
df.nunique()

Rooms              12
Type                3
Price            2872
Method              9
Distance          215
Bathroom           11
Car                15
Landsize         1685
BuildingArea      741
YearBuilt         160
Regionname          8
Propertycount     342
dtype: int64

In [51]:
df3=pd.get_dummies(df.copy(),drop_first=True)
df3

,Rooms,Price,Distance,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Propertycount,Type_t,...,Method_SS,Method_VB,Method_W,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
0,2,1.050173e+06,2.5,1.0,1.0,126.000000,160.2564,51.0,4019.0,0,...,1,0,0,0,1,0,0,0,0,0
1,2,1.480000e+06,2.5,1.0,1.0,202.000000,160.2564,51.0,4019.0,0,...,0,0,0,0,1,0,0,0,0,0
2,2,1.035000e+06,2.5,1.0,0.0,156.000000,79.0000,121.0,4019.0,0,...,0,0,0,0,1,0,0,0,0,0
3,3,1.050173e+06,2.5,2.0,1.0,0.000000,160.2564,51.0,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
4,3,1.465000e+06,2.5,2.0,0.0,134.000000,150.0000,121.0,4019.0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,4,1.480000e+06,6.3,1.0,3.0,593.000000,160.2564,51.0,6543.0,0,...,0,0,0,0,0,0,0,0,1,0
34853,2,8.880000e+05,6.3,2.0,1.0,98.000000,104.0000,3.0,6543.0,0,...,0,0,0,0,0,0,0,0,1,0
34854,2,7.050000e+05,6.3,1.0,2.0,220.000000,120.0000,21.0,6543.0,1,...,0,0,0,0,0,0,0,0,1,0
34855,3,1.140000e+06,6.3,1.0,2.0,593.598993,160.2564,51.0,6543.0,0,...,0,0,0,0,0,0,0,0,1,0
34856,2,1.020000e+06,6.3,1.0,0.0,250.000000,103.0000,91.0,6543.0,0,...,0,0,0,0,0,0,0,0,1,0

In [53]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 26 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Rooms                                  34857 non-null  int64
 1   Price                                  34857 non-null  float64
 2   Distance                               34857 non-null  float64
 3   Bathroom                               34857 non-null  float64
 4   Car                                    34857 non-null  float64
 5   Landsize                               34857 non-null  float64
 6   BuildingArea                           34857 non-null  float64
 7   YearBuilt                              34857 non-null  float64
 8   Propertycount                          34857 non-null  float64
 9   Type_t                                 34857 non-null  uint8
 10  Type_u                                 34857 non-null  uint8
 11  Method_PN                              34857 non-null  uint8
 12  Method_S                               34857 non-null  uint8
 13  Method_SA                              34857 non-null  uint8
 14  Method_SN                              34857 non-null  uint8
 15  Method_SP                              34857 non-null  uint8
 16  Method_SS                              34857 non-null  uint8
 17  Method_VB                              34857 non-null  uint8
 18  Method_W                               34857 non-null  uint8
 19  Regionname_Eastern Victoria            34857 non-null  uint8
 20  Regionname_Northern Metropolitan       34857 non-null  uint8
 21  Regionname_Northern Victoria           34857 non-null  uint8
 22  Regionname_South-Eastern Metropolitan  34857 non-null  uint8
 23  Regionname_Southern Metropolitan       34857 non-null  uint8
 24  Regionname_Western Metropolitan        34857 non-null  uint8
 25  Regionname_Western Victoria            34857 non-null  uint8
dtypes: float64(8), int64(1), uint8(17)
memory usage: 3.0 MB

In [56]:
df3.sample(5)

,Rooms,Price,Distance,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Propertycount,Type_t,...,Method_SS,Method_VB,Method_W,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
718,4,1.230000e+06,12.2,1.0,2.0,593.598993,160.2564,51.0,2894.0,1,...,0,0,0,0,0,0,0,1,0,0
33471,5,1.050173e+06,5.4,3.0,3.0,770.000000,478.0000,141.0,10331.0,0,...,0,0,0,0,0,0,0,1,0,0
16266,2,1.050173e+06,38.0,1.0,2.0,906.000000,160.2564,51.0,7566.0,0,...,0,0,0,0,0,0,1,0,0,0
3853,1,4.850000e+05,7.7,1.0,1.0,0.000000,43.0000,51.0,8989.0,0,...,0,0,0,0,0,0,0,1,0,0
13711,2,1.050173e+06,6.1,1.0,2.0,80.000000,70.0000,51.0,13240.0,0,...,0,0,0,0,0,0,0,1,0,0